* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#map {
  width: 100%;
  height: 100%;
}
.leaflet-tooltip.user-label {
  background-color: transparent;
  color: black;
  font-weight: bold;
  font-size: 14px;
  border: none;
  box-shadow: none;
}
